# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

#Pytest cache
.pytest_cache/

# Environment variables / secrets
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Model files
whisper_models/

